<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
        <a href="#" class="navbar-brand">
            <img src="./img/logo-icon.svg" height="30" class="d-inline-block align-top" alt="Imagine">
            Imagine
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
                <li class="nav-item dropdown">
                   <a href="#" class="nav-link dropdown-toggle" id="navbarProgramMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">TRAFFIC</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarProgramMenuLink">
                        <li><a class="dropdown-item" href="/programs">Programs</a></li>
                        <li><a class="dropdown-item" href="#">Episodes</a></li>
                        <li><a class="dropdown-item" href="#">Jobs</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                   <a href="#" class="nav-link dropdown-toggle" id="navbarCampaignMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">SALES</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarCampaignMenuLink">
                        <li><a class="dropdown-item" href="/campaigns">Campaigns</a></li>
                        <li><a class="dropdown-item" href="/deals">Deals</a></li>
                        <li><a class="dropdown-item" href="#">Clients & Products</a></li>
                        <li><a class="dropdown-item" href="#">Inventory</a></li>
                        <li><a class="dropdown-item" href="#">Jobs</a></li>
                    </ul>
                </li>                
                <li class="nav-item dropdown">
                   <a href="#" class="nav-link dropdown-toggle" id="navbarDealsMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">REPORTING</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDealsMenuLink">
                        <li><a class="dropdown-item" href="#">Sales</a></li>
                        <li><a class="dropdown-item" href="#">Traffic</a></li>
                        <li><a class="dropdown-item" href="#">Deals</a></li>
                    </ul>
                </li>                
                <li class="nav-item dropdown">
                   <a href="#" class="nav-link dropdown-toggle" id="navbarDealsMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">SETTINGS</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDealsMenuLink">
                        <li><a class="dropdown-item" href="#">Locks</a></li>
                        <li><a class="dropdown-item" href="#">Mail</a></li>
                        <li><a class="dropdown-item" href="#">Roles</a></li>
                        <li><a class="dropdown-item" href="#">Rules</a></li>
                        <li><a class="dropdown-item" href="#">Sales Configuration</a></li>
                        <li><a class="dropdown-item" href="#">Setup</a></li>
                    </ul>
                </li>                
                <li class="nav-item"><a href="#" class="nav-link disabled" tabindex="-1">Reports</a></li>
            </ul>
            <div class="navbar-nav ml-auto">
                <%if (!name) { %>
                    <a href="/login" class="nav-item nav-link">Login</a>
                <% }else{ %>
                    <form action="/logout?_method=DELETE" method="POST" style="max-width:300px;margin:auto;">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Logout</button>
                    </form>
                <%}%>
            </div>
        </div>
    </nav>
</div>