<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div id="myGrid" class="ag-theme-alpine" style="height: 500px;"></div>

</body>
<% include partials/script %>
</html>